* {
    font-family: 'Overpass';
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: hsl(216, 12%, 8%);
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: 100vh;
}
#rating-card {
    width: 330px; 
    max-width: 90vw;
    border-radius: 25px; 
    padding: 1.4rem;
    display: flex;
    gap: 1.1rem;
    flex-direction: column;
    background-image: linear-gradient(to bottom right, hsl(213, 19%, 18%),hsl(216, 12%, 8%));
    transition: .2s;
}
.hide {
    transform: scale(0);
}
#rating-logo {
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 40px;
    height: 40px;
    margin: 0 0 .5rem 0; 
    background-color: hsl(213, 19%, 18%);
}
#rating-card h1 {
    margin: 0;
    color: white;
}
#rating-card p {
    margin: 0;
    color: hsl(217, 12%, 63%);
    line-height: 20px;
    font-size: 13px;
}
#rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.rating-button {
    border-radius: 50px;
    width: 40px;
    height: 40px; 
    border: none;
    background-color: hsl(213, 19%, 18%);
    color: hsl(216, 12%, 54%);
    cursor: pointer;
}
.selected {
    background-color:hsl(25, 97%, 53%);
    color: white;
}
.selected:hover {
    background-color: hsl(25, 100%, 64%);
}
.rating-button:hover {
    color: white;
    background-color: hsl(217, 12%, 63%);
    transition: .2s;
}
#submit-btn {
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 50px;
    color: white;
    background-color: hsl(25, 97%, 53%);
    cursor: pointer;
    transition: .2s;
}
#submit-btn:hover {
    background-color: white;
    color: hsl(25, 97%, 53%);
}
.modal {
    position: absolute;
    gap: .7rem; 
    width: 340px;
    max-width: 90vw;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    background-image: linear-gradient(to bottom right, hsl(213, 19%, 18%),hsl(216, 12%, 8%));
    border-radius: 25px;
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: .2s;
    transform: scale(0);
} 
#show {
    transform: scale(1);
}
#thank-you-image {
    animation: float 4s linear infinite forwards;
}
@keyframes float {
    0%{ 
        transform: translateY(0px)
    }
    25%{
        transform: translateY(4px)
    }
    50%{
        transform: translateY(0px); 
    }
    75%{
        transform: translateY(-4px)
    }
    100%{
        transform: translateY(0px)
    }
}
#user-selection { 
    color: hsl(25, 97%, 53%);
    background-color: hsl(213, 19%, 18%);
    padding: 3px 12px;
    border-radius: 20px;
    font-size: 13px;
}
.modal h1 {
    color: white;
    margin: 0;
}
#modal-text { 
    color: hsl(217, 12%, 63%);
    margin: 0;
    line-height: 20px;
    font-size: 13px;
}